<h1>Welcome {{username}}</h1>
    
<ul>
    <li><button class="loginBtn loginBtn--facebook" 
        [disabled]="fbLinked ? true : false" (click)="fbAuth()">
        {{fbLinked ? 'Facebook Linked' : 'Link Facebook'}}
        </button>
    </li>
    <li *ngIf="fbLinked"><button class="btn btn-danger" (click)="revokeFB()">Revoke Facbook Account</button></li>
</ul>
<ul>
    <li><button class="loginBtn loginBtn--twitter" 
        [disabled]="twLinked ? true : false" (click)="twAuth()">
        {{twLinked ? 'Twitter Linked' : 'Link Twitter'}}
        </button>
    </li>
    <li *ngIf="twLinked"><button class="btn btn-danger" (click)="revokeTW()">Revoke Twitter Account</button></li>
</ul>

<br>


