
<h1>Welcome {{user.username}}</h1>
    
<ul>
    <li><button class="loginBtn loginBtn--facebook" 
        [disabled]="user.fb_provider ? true : false" (click)="fbAuth()">
        {{user.fb_provider ? 'Facebook Linked' : 'Link Facebook'}}
        </button>
    </li>
    <li *ngIf="user.fb_provider"><button class="btn btn-danger" (click)="revokeFB()">Revoke Facbook Account</button></li>
</ul>
<ul>
    <li><button class="loginBtn loginBtn--twitter" 
        [disabled]="user.tw_provider ? true : false" (click)="twAuth()">
        {{user.tw_provider ? 'Twitter Linked' : 'Link Twitter'}}
        </button>
    </li>
    <li *ngIf="user.tw_provider"><button class="btn btn-danger" (click)="revokeTW()">Revoke Twitter Account</button></li>
</ul>

<br>





