.header {
  color: black ;
}

input.mat-input-element {
 color: black;
}

hr {
  color: #192534;
 height:1px;
 background-color: #192534;
}

mat-form-field {
 width: 100%;
}

.link_acc .accs {
 display: flex;
}

.link_acc mat-card {
 margin-left: 20px;
 width: 300px;
 max-height: 250px;
 /* background-color: #d9d9d9; */
 background-color: snow;
 background-image: linear-gradient(315deg, #ffffff 0%, #f6f2f2 74%);
 text-align: center;
 color: black;
}

/* .link_acc .tw {
 
} */

.link_acc .fb mat-icon,
.link_acc .tw mat-icon {
 width: 100px;
 height: 100px;
 font-size: 100px;
}

.link_acc .tw svg #vector{
 fill: black;
}

.link_acc .fb button {
 width: 150px;
 font-size: 20px;
 background-color: #1877f2;
 color: white;
}

.link_acc .tw button {
 width: 150px;
 font-size: 20px;
 background-color: #55acee;
 color: white;
}

.link_acc #revoke {
 background-color: red;
}

.acc_data a {
 font-size: 18px;
 color: #55acee;
}

.security a {
 font-size: 18px;
 color: #55acee;
}
