/* * {
} */

.main {
    display: flex;
    justify-content: space-evenly;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  }
  
  .main .contents {
    /* width: 40%; */
    padding: 100px;
    color: #192534;
  }

  .main .contents .header {
    /* font-weight: 600; */
    font-family: 'Poppins', sans-serif;
  }

  .main .contents .details {
    /* font-weight: 300; */
    font-family: 'Poppins', sans-serif;
  }
  
  .main .contents .btns button,
  .main .contents .btns a {
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
  }
  
  .main .contents .btns a {
    border: 2px solid #192534;
    color: #192534;
  }
  
  .main .contents .btns .pricing {
    background-color: #192534;
    color: white;
  }
  
  /* .main #xs svg {
    width: 500px;
    margin-top: -110px;
  } */
  
  svg #clouds {
    animation: move 20s infinite linear;
  }
  
  @keyframes move {
    from {
      transform: translateX(-900px);
    }
    to {
      transform: translateX(1000px);
    }
  }
  
  .try_now {
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
  }
  
  .try_now h3 {
    color: #192534;
    text-decoration: underline;
  }
  
  /* .plans {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
  } */
  
  .plans mat-card {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    text-align: center;
    background-color: snow;
    width: 200px;
    margin-top: 20px;
    color: #192534;
  }
  
  .plans .pricings mat-card-title {
    border-bottom: #192534 5px solid;
    font-family: 'Poppins', sans-serif;
  }
  
  /* .plans .pricings .hr {
    text-align: center;
  } */
  
  .plans .pricings .hr sup {
    font-size: 20px;
    color: #192534;
  }
  
  .plans .pricings .hr .price .num {
    font-size: 55px;
    color: #192534;
  }
  
  .plans .pricings .hr .per-month {
    font-size: 15px;
    font-style: oblique;
  }

  .props .items {
    color: #192534;
  }
  
  .plans .pricings .signup {
    background-color: #192534;
    color: white;
  }
  