<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&display=swap"
  rel="stylesheet"
/>
<!-- fxLayout="row"
    fxLayoutAlign="space-evenly stretch"
    fxLayoutGap="10px"
    fxLayout.lt-sm="column"
    fxLayoutAlign.lt-sm="start center" -->

<!-- fxLayout="row"
      fxLayoutAlign="space-around center"
      fxLayout.lt-sm="column"
      fxLayoutAlign="space-around center" -->

<div class="container">
  <mat-card class="main">
    <mat-card-content class="contents">
      <span class="header"
        ><h2>Manage all your social media in one place</h2></span
      >
      <span class="details"
        ><p>
          From finding prospects to serving customers, Onepostman helps you do
          more with your social media.
        </p></span
      >

      <div
        class="btns"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayout.lt-sm="column"
        fxLayoutAlign.lt-sm="space-between center"
      >
        <button mat-flat-button class="pricing" (click)="scroll(plans)">
          See pricings
        </button>
        <a
          routerLink="/auth"
          mat-stroked-button
          style="margin-left: 10px"
          class="login"
          >Already have an account !</a
        >
      </div>
    </mat-card-content>

    <div class="girl" id="{{ this.device }}">
      <img src="assets/img/girl.svg" alt="girl" mat-card-image />
    </div>
  </mat-card>

  <div class="pricing">
    <mat-card class="try_now" fxLayout="row" fxLayoutAlign="center">
      <h3>Start Your 7-Day Free Trial</h3>
    </mat-card>

    <div class="planCards" data-aos="zoom-in" #plans>
      <div class="plans basic">
        <div class="header">
          <div class="title">Basic</div>
        </div>

        <div class="price_tag">
          <div class="price">
            <strong>
              <sup>$</sup>
              <span class="cost">20</span>
              <span class="month"> / mo *</span>
            </strong>
          </div>
        </div>

        <div class="contents">
          <mat-list>
            <mat-list-item>
              <mat-icon>done</mat-icon>
              <span>Automated post scheduling</span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon>done</mat-icon>
              <span>1 social accounts</span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon>done</mat-icon>
              <span>Unlimited scheduling</span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon>done</mat-icon>
              <span>1 user</span>
            </mat-list-item>
          </mat-list>
        </div>

        <mat-card-actions>
          <button mat-flat-button>Free 7-Day Trial</button>
        </mat-card-actions>
      </div>

      <div class="plans premium">
        <div class="header">
          <div class="title">Premium</div>
        </div>

        <div class="price_tag">
          <div class="price">
            <strong>
              <sup>$</sup>
              <span class="cost">50</span>
              <span class="month"> / mo *</span>
            </strong>
          </div>
        </div>

        <div class="contents">
          <mat-list>
            <mat-list-item>
              <mat-icon>done</mat-icon>
              <span>Automated post scheduling</span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon>done</mat-icon>
              <span>5+ social accounts</span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon>done</mat-icon>
              <span>Unlimited scheduling</span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon>done</mat-icon>
              <span>5 users</span>
            </mat-list-item>
          </mat-list>
        </div>

        <mat-card-actions>
          <button mat-flat-button>Free 7-Day Trial</button>
        </mat-card-actions>
      </div>
      <div class="plans basic">
        <div class="header">
          <div class="title">Standard</div>
        </div>

        <div class="price_tag">
          <div class="price">
            <strong>
              <sup>$</sup>
              <span class="cost">30</span>
              <span class="month"> / mo *</span>
            </strong>
          </div>
        </div>

        <div class="contents">
          <mat-list>
            <mat-list-item>
              <mat-icon>done</mat-icon>
              <span>Automated post scheduling</span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon>done</mat-icon>
              <span>3 social accounts</span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon>done</mat-icon>
              <span>Unlimited scheduling</span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon>done</mat-icon>
              <span>2 users</span>
            </mat-list-item>
          </mat-list>
        </div>

        <mat-card-actions>
          <button mat-flat-button>Free 7-Day Trial</button>
        </mat-card-actions>
      </div>
    </div>
  </div>
</div>
