svg #clouds{
    animation: move 5s infinite linear;
}

@keyframes move {
    
    0%{
        transform: translateX(0px);
    }

    50%{
        transform: translateX(500px);
    }

    100%{
        transform: translateX(1000px);
    }
}