<form [formGroup] = "scheduleForm">
    <!-- <div class="form-group">
        <label for="imagePost">Example file input</label>
        <input 
            type="file" `
            class="form-control-file" 
            id="imagePost">
    </div> -->
    <div class="form-group">
        <label> Caption </label>
        <input formControlName = "caption" type="text" class="form-control"> 
    </div>

    <div class="form-group">
        <label> Select when you want to post </label>
        <input formControlName = "time" type="text" class="form-control">
    </div>

    <button class="btn btn-primary" type="submit" (click) = "onSubmit()"> Schedule post </button>
</form>