.hashtag {
    margin: 0% auto;
}

.hashtag #l1,#l2,#l3,#l4 {
    animation: move 2s infinite linear;
    transform-origin: bottom;
    transform-box: fill-box;
}

@keyframes move {
    0% {
        transform: rotateX(0deg);
    }
    25% {
        transform: rotateX(20deg);
    }
    50% {
        transform: rotateX(30deg);
    }
    75% {
        transform: rotateX(20deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}