
.schedule_posts  {
    margin: 0% auto;
}

.schedule_posts #tick1 {
    animation: pop_up 1.5s 1 linear;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes pop_up {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}


