mat-spinner {
    margin-left: 45%;
    margin-top: 25%;
}

.container{
    max-width: 400px;
    align-content: center;
    display: block;
}

.post-card {
    max-width: 400px;
    margin: 20px;
}

/* mat-card-header {

} */

/* .icon{
    float: inline-end;
} */

.icon {
    float: right;
}

mat-icon {
    color: grey;
    font-size: 26px;
}

/* .button-container {
    display: flex;
    justify-content: right;
} */
