<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="container">
    <mat-card class="post-card" *ngFor="let post of posts">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{user.username}}</mat-card-title>
            <div class="icon">
              <a aria-label="Example icon button with a delete icon" (click)="onDeletePost(post._id)">
                <mat-icon>delete</mat-icon>
              </a>
              <a [routerLink]="['/edit', post._id]" aria-label="Example icon button with a edit icon">
                <mat-icon [inline]>create</mat-icon>
              </a>
            </div>
          <mat-card-subtitle *ngIf="post.twitter">Twitter</mat-card-subtitle>
          <mat-card-subtitle *ngIf="post.facebook">Facebook</mat-card-subtitle>
      </mat-card-header>
        <img mat-card-image [src]="post.img" [alt]="post.caption">
      <mat-card-content>
        <p>
          {{post.caption}}
        </p>
      </mat-card-content>
    </mat-card>
    <br>
</div>