.container {
    position: relative;
    top: 20%;
}
.schedule {
    width: 65%;
    height: 60%;
    border-radius: 30px;
    position: relative;
    left: 20%;
}

.contents {
    margin: auto;
    width: 70%;
    /* border: #1877f2 2px solid; */
}

textarea {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #e8eaf6;
    font-family: sans-serif;
    text-align: center;
    scroll-behavior: smooth;
    overflow-wrap: break-word;
}

textarea:focus {
    outline: none;
    transition: all 0.25s ease-in-out;  

}

.schedule #caption {
    margin-top: 5%;
    border-radius: 20px;
    /* width: 70%; */
    height: 35%;
    border: rgb(5, 197, 255) 1px solid;
}

.schedule .medias {
    height: 15%;
}

.schedule .medias a{
    border-radius: 27px;
    height: 85%;
    width: 40%;
    /* filter: grayscale(0.9); */
    transition: all 0.25s ease-in-out; 
}

.schedule .medias a img {
    margin-top: -7%;
    width: 75;
    height: 75;
}


.schedule .medias #selected {
    filter: none;
    background-color: white;
    /* background-color:#1877f2; */
    border: #1877f2 2px solid;
}

.schedule .medias #selected {
    filter: none;
    /* transition: ; */
    background-color: #55ACEE;
    border: #55ACEE 2px solid;
}

.schedule .medias .facebook:hover{
    filter: none;
    background-color: white;
    /* background-color:#1877f2; */
    /* border: #1877f2 2px solid; */
}

.schedule .medias .twitter:hover {
    filter: none;
    background-color: #459adb;
    /* border: #55ACEE 2px solid; */
}

.schedule .options {
    margin-top: 2%;
    height: 15%;
}

/* .schedule .options i {
    cursor: pointer;
    border: red 1px solid;
    border-radius: 50%;
} */


.schedule .post button {
    width: 30%;
    /* height: 15%; */
    font: outline;
    font-style:unset;
    color: black;

}


.testing #tt {
    color: black;
}