<div class="parent-container">
    <div class="container">
        <mat-card class="scheduleForm-card">
            <div class="form-container">
                <form [formGroup]="scheduleForm" (submit)="onSubmit()">
                    
                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label>Caption</mat-label>
                        <input matInput formControlName="caption" type="text" [(ngModel)]="caption" required>
                        <mat-error *ngIf="scheduleForm.controls.caption.touched && scheduleForm.controls.caption.invalid">
                            <span *ngIf="scheduleForm.controls.caption.errors.required">This field is mandatory.</span>
                            <span *ngIf="scheduleForm.controls.caption.errors.pattern">This field is invalid.</span>
                          </mat-error>
                    </mat-form-field>
                    <div>
                        <button mat-stroked-button type="button" (click)="filePicker.click()">Upload Image</button>
                        <input type="file" #filePicker (change)="onImagePicked($event)">
                    </div>
                    <div>
                        <section>
                            <mat-checkbox *ngIf="user.fb_provider" formControlName="facebook">Facebook</mat-checkbox>
                            <mat-checkbox *ngIf="user.tw_provider" formControlName="twitter">Twitter</mat-checkbox>
                        </section>
                    </div>
                     
                    <mat-form-field>
                        <input matInput formControlName="time" type="time">
                        <mat-label>Pick date and time</mat-label>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="date" formControlName="date">
                        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                        <mat-datepicker #date></mat-datepicker>
                        <mat-error *ngIf="scheduleForm.controls.date.touched && scheduleForm.controls.date.invalid">
                            <span *ngIf="scheduleForm.controls.date.errors.required">This field is mandatory.</span>
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <span *ngIf="!isSMLinked"> Please select a social media account before scheduling </span>
                    <br>
                    <button mat-raised-button color="primary" type="submit">{{mode === "create" ? "Make" : "Make Changes"}}</button>
                </form>
            </div>
        
        </mat-card>
    </div>
    <br> 

    <!-- <mat-form-field class="form-field" appearance="fill">
                        <mat-label>Username</mat-label>
                        <input matInput formControlName="username" type="text" [(ngModel)]="username" required>
                    </mat-form-field> -->

    <!-- <mat-form-field class="form-field" appearance="fill">
                        <mat-label>Time</mat-label>
                        <input matInput formControlName="time" type="text" required> -->                
    
    <!-- Card feature soon to be added now for testing -->
    
     <div class="container">
        <mat-card class="post-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title >{{user.username}}</mat-card-title>
              <mat-card-subtitle>{{socialMedia}}</mat-card-subtitle>
            </mat-card-header>
                <img mat-card-image [src]="imagePreview" [alt]="scheduleForm.value.title">
            <mat-card-content>
              <p>
                {{caption}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>COMMENT</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
        <br>
    </div>
    
</div>

<!-- https://material.angular.io/assets/img/examples/shiba2.jpg -->

