.parent-container{
    display: flex;
}

.container{
    max-width: 400px;
    align-content: center;
}

.scheduleForm-card{
    align-content: center;  
}

.form-container{
    max-width:400px; 
    margin: 0 px auto; 
    margin-top: 200 px;
}

.form-field{
    display: block
}

.post-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

h1 {
    font-size: 15px;
}

input[type="file"] {
    visibility: hidden;
}

/* New Mat Card */

.container {
  width: 60%;
  height: 100%;
  background-color: #ffffff;
  position: relative;
  margin: auto;
}

.container .contents .cap-option {
  border: 3px solid black;
  position: relative;
  margin: auto;
  margin-top: 10px;
  width: 70%;
  height: 145px;
  border-radius: 10px;
}

.container .contents #caption {
  position: relative;
  margin: 2.5px;
  margin-top: 3px;
  resize: none;
  border: none;
  width: 95%;
  height: 100px;
}

.container .contents #caption:focus {
  outline: none;
}

.container .contents .options {
  border-top: 3px solid black;
  position: relative;
}

.example-button-container {
  margin-left: 9%;
  display: inline-block;
  cursor: pointer;
  /* border: 2px solid black; */
}

/* .container .contents .options mat-icon {
  margin-left: 0.7rem;
} */

.example-button-container #file {
  display: none;
}

.media {
  margin-top: 5%;
  /* border: 2px solid black; */
  height: 35px;
}

.media mat-chip {
  margin-left:15%;
}

.posting-btns {

  margin-top: 3%;
}

.posting-btns button{
  width: 35%;
  margin-left:7%;
}
