/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: rgb(247, 242, 242);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
h1 {
  color: black;
}
