<!-- <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
</div> -->
 
<div class="container" *ngIf="this.authService.isLoginForm">
    <mat-card class="form-container">
        <form [formGroup]="loginForm" (submit)="onLoginSubmit()" > 
            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email"  required>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password"  required>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Log in</button>
        </form>
        <label>Don't have an account?</label>
        <button mat-button color="accent" (click)="onSwitchForm()">Sign up</button>
    </mat-card>
</div>

<div class="container" *ngIf="!this.authService.isLoginForm">
    <mat-card class="form-container">
        <form [formGroup]="signupForm" (submit)="onSignupSubmit()" > 
            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" type="text"  required>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email"  required>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password"  required>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Sign Up</button>
        </form>
        <label>Already have an account?</label>
        <button mat-button color="accent" (click)="onSwitchForm()">Log in</button>
    </mat-card>
</div>



