* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}


body {
  height: 100vh;
  font-family: sans-serif;
  background-color: #94c997;
  background-color: whitesmoke;
  /* background-image: linear-gradient(315deg, #94c997 0%, #daacec 74%);  */
  /* background: linear-gradient(to bottom right, #050505 2%, #ffffff 91%); */
  /* background: linear-gradient(to bottom right, #4f4545 2%, #ffffff 91%); */
}

.schedule_form {
  margin-left: 33%;
  margin-top: 2%;
  width: 35%;
  height: 60%;
  position: absolute;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: #f3e6e8;
  background-image: linear-gradient(to bottom right, #f3e6e8 0%, #d5d0e5 64%);
}

.caption-option {
  /* border: 2px solid black; */
  margin: auto;
  margin-top: 4%;
  width: 85%;
  height: 30vh;
  position: relative;
  border-radius: 20px;
  background-color: #ffffff;
  overflow: hidden;
}

.caption-option #caption {
  margin: auto;
  margin-top: 2%;
  /* position: relative; */
  background-color:transparent;
  width: 94%;
  height: 75%;
}

.caption textarea {
  resize: none;
  width: 100%;
  height: 100%;
  border: none;
  font-size: medium;
  font-family: sans-serif;
  background-color: transparent;
  color: black;
}

.caption textarea:focus {
  outline: none;
}

.option {
  /* align-self: flex-end; */
  margin-left: -0.01%;
  margin-top: 1%;
  /* justify-content:first baseline; */
  /* align-items:baseline; */
  display: flex;
  width:100%;
  /* height: 19.2%; */
  height: 100%;
  /* border-top: black 2px solid;  */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #4a4b46;
}

.option .btns #file {
  visibility: hidden;
  width:0%;
}

.option .btns {
  cursor: pointer;
  flex: 1;
  width: 50%;
  height: 100%;
  padding-top: 2.5%;
}


.option .btns:hover {
  transition: all 0.5s ease-out;
  background-color:black;
}

.option .btns img {
  max-width: 35%;
  max-height: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}


.media {
  display: flex;
  margin: auto;
  margin-top: 5%;
  width: 85%;
  height: 10%;
  justify-content: space-evenly;
  
}

.media #media{
  border-radius: 50px;
  width: 45%;
  height: 95%;
}

.media .fb{
  background-color: white;
  display: flex ;
}

.media .tw{
  background-color: #459adb;
  display: flex;
}
.media .facebook {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;  
}

.media .twitter {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

.media .texts {
  font-size: 1.05vw;
  margin: auto;
}

.schedule_btns {
  display: flex;
  margin: auto;
  margin-top: 5%;
  width: 90%;
  height: 15%;
  justify-content: space-evenly;
  /* background-color: #459adb; */
}

.schedule_btns .post-now {
  /* float: left; */
  height: 50%;
  width: 40%;
}

.schedule_btns .schedule-later{
  /* float: right; */
  height: 50%;
  width: 40%;
}

.schedule_btns button {
  width: 100%;
  height: 100%;
  letter-spacing: 1px;
  font-size: 1.2vw;
  background-color: chartreuse;
  border: none;
}

.schedule_btns button:focus {
  outline: none;
}
